# TO DO List

- [ ] Define functions for library imports, data import setup and other EDA steps already finalized

# Library imports

** **

In [1]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns

from matplotlib import pyplot as plt
from IPython.core.display import display, HTML

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [20, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    pd.set_option('display.float_format', lambda x: '%.2f' % x)
    
    sns.set()
    
    #warnings.filterwarnings("ignore")

In [3]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

** **

# Data Import and Setup

** **

### Import data
** **

In [4]:
orig_df = pd.read_csv('data/kc_house_data.csv')
house_df = orig_df.copy(deep=True)

### General Info

** **

In [21]:
house_df.head()

           id             date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode   lat    long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000 221900.00         3       1.00         1180      5650    1.00           0     0          3      7        1180              0      1955             0    98178 47.51 -122.26           1340        5650
1  6414100192  20141209T000000 538000.00         3       2.25         2570      7242    2.00           0     0          3      7        2170            400      1951          1991    98125 47.72 -122.32           1690        7639
2  5631500400  20150225T000000 180000.00         2       1.00          770     10000    1.00           0     0          3      6         770              0      1933             0    98028 47.74 -122.23           2720        8062
3  2487200875  20141209T000000 604000.00         4       3.00         1960      5000    1.00           0     0          5      7        1050            910      1965             0    98136 47.52 -122.39           1360        5000
4  1954400510  20150218T000000 510000.00         3       2.00         1680      8080    1.00           0     0          3      8        1680              0      1987             0    98074 47.62 -122.05           1800        7503

In [16]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [17]:
house_df.describe()

                 id      price  bedrooms  bathrooms  sqft_living   sqft_lot   floors  waterfront     view  condition    grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
count      21613.00   21613.00  21613.00   21613.00     21613.00   21613.00 21613.00    21613.00 21613.00   21613.00 21613.00    21613.00       21613.00  21613.00      21613.00 21613.00 21613.00 21613.00       21613.00    21613.00
mean  4580301520.86  540088.14      3.37       2.11      2079.90   15106.97     1.49        0.01     0.23       3.41     7.66     1788.39         291.51   1971.01         84.40 98077.94    47.56  -122.21        1986.55    12768.46
std   2876565571.31  367127.20      0.93       0.77       918.44   41420.51     0.54        0.09     0.77       0.65     1.18      828.09         442.58     29.37        401.68    53.51     0.14     0.14         685.39    27304.18
min      1000102.00   75000.00      0.00       0.00       290.00     520.00     1.00        0.00     0.00       1.00     1.00      290.00           0.00   1900.00          0.00 98001.00    47.16  -122.52         399.00      651.00
25%   2123049194.00  321950.00      3.00       1.75      1427.00    5040.00     1.00        0.00     0.00       3.00     7.00     1190.00           0.00   1951.00          0.00 98033.00    47.47  -122.33        1490.00     5100.00
50%   3904930410.00  450000.00      3.00       2.25      1910.00    7618.00     1.50        0.00     0.00       3.00     7.00     1560.00           0.00   1975.00          0.00 98065.00    47.57  -122.23        1840.00     7620.00
75%   7308900445.00  645000.00      4.00       2.50      2550.00   10688.00     2.00        0.00     0.00       4.00     8.00     2210.00         560.00   1997.00          0.00 98118.00    47.68  -122.12        2360.00    10083.00
max   9900000190.00 7700000.00     33.00       8.00     13540.00 1651359.00     3.50        1.00     4.00       5.00    13.00     9410.00        4820.00   2015.00       2015.00 98199.00    47.78  -121.31        6210.00   871200.00

** **

# Exploratory Data Analysis
** **

### Data Dimensionality
** **

It is a small sized dataset, and and it will not suffer from the curse of dimensionality.

In [31]:
print('Number of Rows:{}'.format(house_df.shape[0]))
print('Number of Columns {}'.format(house_df.shape[1]))

Number of Rows:21613
Number of Columns 21

### Attributes Name and Description
** **

**id** - its a unique identifier number for each unique house

**date** - its the date when the house were sold

**price** - its the selling price when the house was sold

**bedrooms** - number of bedrooms in the house

**bathrooms** - number of bathrooms in the house, where a fraction like 0.25 represents a bathroom sink, shower or toilet

**sqft_living** - the size of the living room in square feet

**sqft_lot** - the size of the land in square feet

**floors** - number of floors in the house

**waterfront** - if there is a waterview from the house

**view** - how many views the house has

**condition** - the house preservation condition

**grade** - a rank from 1 to 13, which ranks the construction quality

**sqft_above** - the size of the house above the ground level in square feet

**sqft_basement** - the size of the house below the ground level in square feet

**yr_built** - the year the house was initially built

**yr_renovated** - the year of the house's last renovation

**zipcode** - what zipcode area the house is in

**lat** - Lattitude

**long** - Longitude

**sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors (possibly)

**sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

** **

### Attributes Type and Data type conversions
** **

In [27]:
house_df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

>#### Date reformat type

Because it will be handled easily as a date variable type

In [5]:
house_df.date = pd.to_datetime(house_df.date)

In [6]:
house_df.date[0]

Timestamp('2014-10-13 00:00:00')

### Attributes Descriptive Statistics (Summary Statistics)
** **

In [7]:
num_attributes = house_df.select_dtypes(include=['int64', 'float64'])

In [8]:
num_attributes.columns

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [74]:
mean = pd.DataFrame(num_attributes.mean())
std = pd.DataFrame(num_attributes.std())
median = pd.DataFrame(num_attributes.median())

q1,q3 = pd.DataFrame(num_attributes.quantile([0.25])), pd.DataFrame(num_attributes.quantile([0.75]))

maximum = pd.DataFrame(num_attributes.max())
minimum = pd.DataFrame(num_attributes.min())

descriptive_statistics = pd.concat([mean,std,minimum,q1.transpose(),median,q3.transpose(),maximum],axis=1)
descriptive_statistics.columns = ['mean','std','minimum','q1','median','q3','maximum']
descriptive_statistics

                       mean           std    minimum            q1        median            q3       maximum
id            4580301520.86 2876565571.31 1000102.00 2123049194.00 3904930410.00 7308900445.00 9900000190.00
price             540088.14     367127.20   75000.00     321950.00     450000.00     645000.00    7700000.00
bedrooms               3.37          0.93       0.00          3.00          3.00          4.00         33.00
bathrooms              2.11          0.77       0.00          1.75          2.25          2.50          8.00
sqft_living         2079.90        918.44     290.00       1427.00       1910.00       2550.00      13540.00
sqft_lot           15106.97      41420.51     520.00       5040.00       7618.00      10688.00    1651359.00
floors                 1.49          0.54       1.00          1.00          1.50          2.00          3.50
waterfront             0.01          0.09       0.00          0.00          0.00          0.00          1.00
view                   0.23          0.77       0.00          0.00          0.00          0.00          4.00
condition              3.41          0.65       1.00          3.00          3.00          4.00          5.00
grade                  7.66          1.18       1.00          7.00          7.00          8.00         13.00
sqft_above          1788.39        828.09     290.00       1190.00       1560.00       2210.00       9410.00
sqft_basement        291.51        442.58       0.00          0.00          0.00        560.00       4820.00
yr_built            1971.01         29.37    1900.00       1951.00       1975.00       1997.00       2015.00
yr_renovated          84.40        401.68       0.00          0.00          0.00          0.00       2015.00
zipcode            98077.94         53.51   98001.00      98033.00      98065.00      98118.00      98199.00
lat                   47.56          0.14      47.16         47.47         47.57         47.68         47.78
long                -122.21          0.14    -122.52       -122.33       -122.23       -122.12       -121.31
sqft_living15       1986.55        685.39     399.00       1490.00       1840.00       2360.00       6210.00
sqft_lot15         12768.46      27304.18     651.00       5100.00       7620.00      10083.00     871200.00

### Identify missing values and Duplicated records
***

>#### Missing Values

In [15]:
num_attributes.isnull().sum()

id               0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [13]:
cat_attributes = house_df.select_dtypes(exclude=['int64','float64'])

pd.isna(cat_variables).sum()

date    0
dtype: int64

>#### Check Houses sold twice or more times

In [10]:
len(house_df['id'].unique())

21436

In [ ]:
duplicated_ids = house_df['id'].apply(lambda x: True if (sum(x == house_df['id']) >= 2)\
                                                     else False)

In [ ]:
house_df.loc[duplicated_ids,['id','date','price', 'yr_renovated','zipcode', 'median_price']].drop_duplicates(subset=['id'], keep='last')

### Data Granularity
***

>#### Geographic Data

The geographic data attributes *latitude* and *longitude* are in their finest granularity, but *zipcode* despite being in their purest from in terms of value, it could be transformed into other finer variables to describe specifically the location of the house, for example, the street or a more coarse one as county.

>#### Temporal Data

The data attributes *yr_built* and *yr_renovated* are interval-based and nominal, respectively. And both have an year level of granularity. The *date* attribute can be considered as interval-based with a day level of temporal granularity

In [14]:
house_df['yr_built'].sort_values().unique()

array([1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910,
       1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921,
       1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932,
       1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943,
       1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954,
       1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
       1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015])

In [15]:
house_df['yr_renovated'].sort_values().unique()

array([   0, 1934, 1940, 1944, 1945, 1946, 1948, 1950, 1951, 1953, 1954,
       1955, 1956, 1957, 1958, 1959, 1960, 1962, 1963, 1964, 1965, 1967,
       1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
       1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015])

In [16]:
house_df['date'].sort_values().unique()

array(['2014-05-02T00:00:00.000000000', '2014-05-03T00:00:00.000000000',
       '2014-05-04T00:00:00.000000000', '2014-05-05T00:00:00.000000000',
       '2014-05-06T00:00:00.000000000', '2014-05-07T00:00:00.000000000',
       '2014-05-08T00:00:00.000000000', '2014-05-09T00:00:00.000000000',
       '2014-05-10T00:00:00.000000000', '2014-05-11T00:00:00.000000000',
       '2014-05-12T00:00:00.000000000', '2014-05-13T00:00:00.000000000',
       '2014-05-14T00:00:00.000000000', '2014-05-15T00:00:00.000000000',
       '2014-05-16T00:00:00.000000000', '2014-05-17T00:00:00.000000000',
       '2014-05-18T00:00:00.000000000', '2014-05-19T00:00:00.000000000',
       '2014-05-20T00:00:00.000000000', '2014-05-21T00:00:00.000000000',
       '2014-05-22T00:00:00.000000000', '2014-05-23T00:00:00.000000000',
       '2014-05-24T00:00:00.000000000', '2014-05-25T00:00:00.000000000',
       '2014-05-26T00:00:00.000000000', '2014-05-27T00:00:00.000000000',
       '2014-05-28T00:00:00.000000000', '2014-05-29T00:00:00.000000000',
       '2014-05-30T00:00:00.000000000', '2014-05-31T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-06-02T00:00:00.000000000',
       '2014-06-03T00:00:00.000000000', '2014-06-04T00:00:00.000000000',
       '2014-06-05T00:00:00.000000000', '2014-06-06T00:00:00.000000000',
       '2014-06-07T00:00:00.000000000', '2014-06-08T00:00:00.000000000',
       '2014-06-09T00:00:00.000000000', '2014-06-10T00:00:00.000000000',
       '2014-06-11T00:00:00.000000000', '2014-06-12T00:00:00.000000000',
       '2014-06-13T00:00:00.000000000', '2014-06-14T00:00:00.000000000',
       '2014-06-15T00:00:00.000000000', '2014-06-16T00:00:00.000000000',
       '2014-06-17T00:00:00.000000000', '2014-06-18T00:00:00.000000000',
       '2014-06-19T00:00:00.000000000', '2014-06-20T00:00:00.000000000',
       '2014-06-21T00:00:00.000000000', '2014-06-22T00:00:00.000000000',
       '2014-06-23T00:00:00.000000000', '2014-06-24T00:00:00.000000000',
       '2014-06-25T00:00:00.000000000', '2014-06-26T00:00:00.000000000',
       '2014-06-27T00:00:00.000000000', '2014-06-28T00:00:00.000000000',
       '2014-06-29T00:00:00.000000000', '2014-06-30T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2014-07-02T00:00:00.000000000',
       '2014-07-03T00:00:00.000000000', '2014-07-04T00:00:00.000000000',
       '2014-07-05T00:00:00.000000000', '2014-07-06T00:00:00.000000000',
       '2014-07-07T00:00:00.000000000', '2014-07-08T00:00:00.000000000',
       '2014-07-09T00:00:00.000000000', '2014-07-10T00:00:00.000000000',
       '2014-07-11T00:00:00.000000000', '2014-07-12T00:00:00.000000000',
       '2014-07-13T00:00:00.000000000', '2014-07-14T00:00:00.000000000',
       '2014-07-15T00:00:00.000000000', '2014-07-16T00:00:00.000000000',
       '2014-07-17T00:00:00.000000000', '2014-07-18T00:00:00.000000000',
       '2014-07-19T00:00:00.000000000', '2014-07-20T00:00:00.000000000',
       '2014-07-21T00:00:00.000000000', '2014-07-22T00:00:00.000000000',
       '2014-07-23T00:00:00.000000000', '2014-07-24T00:00:00.000000000',
       '2014-07-25T00:00:00.000000000', '2014-07-26T00:00:00.000000000',
       '2014-07-27T00:00:00.000000000', '2014-07-28T00:00:00.000000000',
       '2014-07-29T00:00:00.000000000', '2014-07-30T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-08-01T00:00:00.000000000',
       '2014-08-02T00:00:00.000000000', '2014-08-03T00:00:00.000000000',
       '2014-08-04T00:00:00.000000000', '2014-08-05T00:00:00.000000000',
       '2014-08-06T00:00:00.000000000', '2014-08-07T00:00:00.000000000',
       '2014-08-08T00:00:00.000000000', '2014-08-09T00:00:00.000000000',
       '2014-08-10T00:00:00.000000000', '2014-08-11T00:00:00.000000000',
       '2014-08-12T00:00:00.000000000', '2014-08-13T00:00:00.000000000',
       '2014-08-14T00:00:00.000000000', '2014-08-15T00:00:00.000000000',
       '2014-08-16T00:00:00.000000000', '2014-08-17T00:00:00.000000000',
       '2014-08-18T00:00:00.000000000', '2014-08-19T00:00:00.000000000',
       '2014-08-20T00:00:00.000000000', '2014-08-21T00:00:00.000000000',
       '2014-08-22T00:00:00.000000000', '2014-08-23T00:00:00.000000000',
       '2014-08-24T00:00:00.000000000', '2014-08-25T00:00:00.000000000',
       '2014-08-26T00:00:00.000000000', '2014-08-27T00:00:00.000000000',
       '2014-08-28T00:00:00.000000000', '2014-08-29T00:00:00.000000000',
       '2014-08-30T00:00:00.000000000', '2014-08-31T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-09-02T00:00:00.000000000',
       '2014-09-03T00:00:00.000000000', '2014-09-04T00:00:00.000000000',
       '2014-09-05T00:00:00.000000000', '2014-09-06T00:00:00.000000000',
       '2014-09-07T00:00:00.000000000', '2014-09-08T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-10T00:00:00.000000000',
       '2014-09-11T00:00:00.000000000', '2014-09-12T00:00:00.000000000',
       '2014-09-13T00:00:00.000000000', '2014-09-14T00:00:00.000000000',
       '2014-09-15T00:00:00.000000000', '2014-09-16T00:00:00.000000000',
       '2014-09-17T00:00:00.000000000', '2014-09-18T00:00:00.000000000',
       '2014-09-19T00:00:00.000000000', '2014-09-20T00:00:00.000000000',
       '2014-09-21T00:00:00.000000000', '2014-09-22T00:00:00.000000000',
       '2014-09-23T00:00:00.000000000', '2014-09-24T00:00:00.000000000',
       '2014-09-25T00:00:00.000000000', '2014-09-26T00:00:00.000000000',
       '2014-09-27T00:00:00.000000000', '2014-09-28T00:00:00.000000000',
       '2014-09-29T00:00:00.000000000', '2014-09-30T00:00:00.000000000',
       '2014-10-01T00:00:00.000000000', '2014-10-02T00:00:00.000000000',
       '2014-10-03T00:00:00.000000000', '2014-10-04T00:00:00.000000000',
       '2014-10-05T00:00:00.000000000', '2014-10-06T00:00:00.000000000',
       '2014-10-07T00:00:00.000000000', '2014-10-08T00:00:00.000000000',
       '2014-10-09T00:00:00.000000000', '2014-10-10T00:00:00.000000000',
       '2014-10-11T00:00:00.000000000', '2014-10-12T00:00:00.000000000',
       '2014-10-13T00:00:00.000000000', '2014-10-14T00:00:00.000000000',
       '2014-10-15T00:00:00.000000000', '2014-10-16T00:00:00.000000000',
       '2014-10-17T00:00:00.000000000', '2014-10-18T00:00:00.000000000',
       '2014-10-19T00:00:00.000000000', '2014-10-20T00:00:00.000000000',
       '2014-10-21T00:00:00.000000000', '2014-10-22T00:00:00.000000000',
       '2014-10-23T00:00:00.000000000', '2014-10-24T00:00:00.000000000',
       '2014-10-25T00:00:00.000000000', '2014-10-26T00:00:00.000000000',
       '2014-10-27T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-29T00:00:00.000000000', '2014-10-30T00:00:00.000000000',
       '2014-10-31T00:00:00.000000000', '2014-11-01T00:00:00.000000000',
       '2014-11-02T00:00:00.000000000', '2014-11-03T00:00:00.000000000',
       '2014-11-04T00:00:00.000000000', '2014-11-05T00:00:00.000000000',
       '2014-11-06T00:00:00.000000000', '2014-11-07T00:00:00.000000000',
       '2014-11-08T00:00:00.000000000', '2014-11-09T00:00:00.000000000',
       '2014-11-10T00:00:00.000000000', '2014-11-11T00:00:00.000000000',
       '2014-11-12T00:00:00.000000000', '2014-11-13T00:00:00.000000000',
       '2014-11-14T00:00:00.000000000', '2014-11-15T00:00:00.000000000',
       '2014-11-16T00:00:00.000000000', '2014-11-17T00:00:00.000000000',
       '2014-11-18T00:00:00.000000000', '2014-11-19T00:00:00.000000000',
       '2014-11-20T00:00:00.000000000', '2014-11-21T00:00:00.000000000',
       '2014-11-22T00:00:00.000000000', '2014-11-23T00:00:00.000000000',
       '2014-11-24T00:00:00.000000000', '2014-11-25T00:00:00.000000000',
       '2014-11-26T00:00:00.000000000', '2014-11-28T00:00:00.000000000',
       '2014-11-29T00:00:00.000000000', '2014-11-30T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2014-12-02T00:00:00.000000000',
       '2014-12-03T00:00:00.000000000', '2014-12-04T00:00:00.000000000',
       '2014-12-05T00:00:00.000000000', '2014-12-06T00:00:00.000000000',
       '2014-12-07T00:00:00.000000000', '2014-12-08T00:00:00.000000000',
       '2014-12-09T00:00:00.000000000', '2014-12-10T00:00:00.000000000',
       '2014-12-11T00:00:00.000000000', '2014-12-12T00:00:00.000000000',
       '2014-12-13T00:00:00.000000000', '2014-12-14T00:00:00.000000000',
       '2014-12-15T00:00:00.000000000', '2014-12-16T00:00:00.000000000',
       '2014-12-17T00:00:00.000000000', '2014-12-18T00:00:00.000000000',
       '2014-12-19T00:00:00.000000000', '2014-12-20T00:00:00.000000000',
       '2014-12-21T00:00:00.000000000', '2014-12-22T00:00:00.000000000',
       '2014-12-23T00:00:00.000000000', '2014-12-24T00:00:00.000000000',
       '2014-12-26T00:00:00.000000000', '2014-12-27T00:00:00.000000000',
       '2014-12-29T00:00:00.000000000', '2014-12-30T00:00:00.000000000',
       '2014-12-31T00:00:00.000000000', '2015-01-02T00:00:00.000000000',
       '2015-01-05T00:00:00.000000000', '2015-01-06T00:00:00.000000000',
       '2015-01-07T00:00:00.000000000', '2015-01-08T00:00:00.000000000',
       '2015-01-09T00:00:00.000000000', '2015-01-10T00:00:00.000000000',
       '2015-01-12T00:00:00.000000000', '2015-01-13T00:00:00.000000000',
       '2015-01-14T00:00:00.000000000', '2015-01-15T00:00:00.000000000',
       '2015-01-16T00:00:00.000000000', '2015-01-17T00:00:00.000000000',
       '2015-01-19T00:00:00.000000000', '2015-01-20T00:00:00.000000000',
       '2015-01-21T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-23T00:00:00.000000000', '2015-01-24T00:00:00.000000000',
       '2015-01-25T00:00:00.000000000', '2015-01-26T00:00:00.000000000',
       '2015-01-27T00:00:00.000000000', '2015-01-28T00:00:00.000000000',
       '2015-01-29T00:00:00.000000000', '2015-01-30T00:00:00.000000000',
       '2015-01-31T00:00:00.000000000', '2015-02-01T00:00:00.000000000',
       '2015-02-02T00:00:00.000000000', '2015-02-03T00:00:00.000000000',
       '2015-02-04T00:00:00.000000000', '2015-02-05T00:00:00.000000000',
       '2015-02-06T00:00:00.000000000', '2015-02-07T00:00:00.000000000',
       '2015-02-09T00:00:00.000000000', '2015-02-10T00:00:00.000000000',
       '2015-02-11T00:00:00.000000000', '2015-02-12T00:00:00.000000000',
       '2015-02-13T00:00:00.000000000', '2015-02-14T00:00:00.000000000',
       '2015-02-15T00:00:00.000000000', '2015-02-16T00:00:00.000000000',
       '2015-02-17T00:00:00.000000000', '2015-02-18T00:00:00.000000000',
       '2015-02-19T00:00:00.000000000', '2015-02-20T00:00:00.000000000',
       '2015-02-21T00:00:00.000000000', '2015-02-22T00:00:00.000000000',
       '2015-02-23T00:00:00.000000000', '2015-02-24T00:00:00.000000000',
       '2015-02-25T00:00:00.000000000', '2015-02-26T00:00:00.000000000',
       '2015-02-27T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-01T00:00:00.000000000', '2015-03-02T00:00:00.000000000',
       '2015-03-03T00:00:00.000000000', '2015-03-04T00:00:00.000000000',
       '2015-03-05T00:00:00.000000000', '2015-03-06T00:00:00.000000000',
       '2015-03-07T00:00:00.000000000', '2015-03-08T00:00:00.000000000',
       '2015-03-09T00:00:00.000000000', '2015-03-10T00:00:00.000000000',
       '2015-03-11T00:00:00.000000000', '2015-03-12T00:00:00.000000000',
       '2015-03-13T00:00:00.000000000', '2015-03-14T00:00:00.000000000',
       '2015-03-15T00:00:00.000000000', '2015-03-16T00:00:00.000000000',
       '2015-03-17T00:00:00.000000000', '2015-03-18T00:00:00.000000000',
       '2015-03-19T00:00:00.000000000', '2015-03-20T00:00:00.000000000',
       '2015-03-21T00:00:00.000000000', '2015-03-22T00:00:00.000000000',
       '2015-03-23T00:00:00.000000000', '2015-03-24T00:00:00.000000000',
       '2015-03-25T00:00:00.000000000', '2015-03-26T00:00:00.000000000',
       '2015-03-27T00:00:00.000000000', '2015-03-28T00:00:00.000000000',
       '2015-03-29T00:00:00.000000000', '2015-03-30T00:00:00.000000000',
       '2015-03-31T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
       '2015-04-02T00:00:00.000000000', '2015-04-03T00:00:00.000000000',
       '2015-04-04T00:00:00.000000000', '2015-04-05T00:00:00.000000000',
       '2015-04-06T00:00:00.000000000', '2015-04-07T00:00:00.000000000',
       '2015-04-08T00:00:00.000000000', '2015-04-09T00:00:00.000000000',
       '2015-04-10T00:00:00.000000000', '2015-04-11T00:00:00.000000000',
       '2015-04-12T00:00:00.000000000', '2015-04-13T00:00:00.000000000',
       '2015-04-14T00:00:00.000000000', '2015-04-15T00:00:00.000000000',
       '2015-04-16T00:00:00.000000000', '2015-04-17T00:00:00.000000000',
       '2015-04-18T00:00:00.000000000', '2015-04-19T00:00:00.000000000',
       '2015-04-20T00:00:00.000000000', '2015-04-21T00:00:00.000000000',
       '2015-04-22T00:00:00.000000000', '2015-04-23T00:00:00.000000000',
       '2015-04-24T00:00:00.000000000', '2015-04-25T00:00:00.000000000',
       '2015-04-26T00:00:00.000000000', '2015-04-27T00:00:00.000000000',
       '2015-04-28T00:00:00.000000000', '2015-04-29T00:00:00.000000000',
       '2015-04-30T00:00:00.000000000', '2015-05-01T00:00:00.000000000',
       '2015-05-02T00:00:00.000000000', '2015-05-03T00:00:00.000000000',
       '2015-05-04T00:00:00.000000000', '2015-05-05T00:00:00.000000000',
       '2015-05-06T00:00:00.000000000', '2015-05-07T00:00:00.000000000',
       '2015-05-08T00:00:00.000000000', '2015-05-09T00:00:00.000000000',
       '2015-05-10T00:00:00.000000000', '2015-05-11T00:00:00.000000000',
       '2015-05-12T00:00:00.000000000', '2015-05-13T00:00:00.000000000',
       '2015-05-14T00:00:00.000000000', '2015-05-15T00:00:00.000000000',
       '2015-05-24T00:00:00.000000000', '2015-05-27T00:00:00.000000000'],
      dtype='datetime64[ns]')

>#### Numerical Data 

All numeric variables {'id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'sqft_living15', 'sqft_lot15'}
      
have the finest granularity, they are not composed or discretized in any way.

### Attributes Usefulness for the task
***

### Identify Data Inconsistency
***

### Business Data Assumptions
***

Which houses should be bought and for what price?

In [ ]:
zipcode_median = house_df[['price', 'zipcode']].groupby('zipcode').median().reset_index()
zipcode_median.columns = ['zipcode','median_price']

In [ ]:
house_df = pd.merge(house_df,zipcode_median,on='zipcode',how='inner')

In [ ]:
house_df

In [ ]:
house_df['condition'].value_counts()

## Business Hypothesis
***

**1.** The houses that have a price value lower than the median and are in good conditions, can be sold for a higher price, so are good to buy.
    
    
**2.** The houses that have a price value lower than the median and are in bad conditions, cannot be sold for a higher price, so are not good to buy.

**3.** The houses that have a price value higher than the median, independently from the condition, are not good to buy and take profit.

In [ ]:
house_df['status'] = house_df[['price','condition','median_price']].apply(lambda x: 'buy' if (x[0] < x[2]) & (x[1] >= 3)\
                                                                          else 'do not buy',  axis = 1)

In [ ]:
house_df[['id','zipcode','price','median_price','condition','status']]